@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #222222;
  font-family: "Press Start 2P", sans-serif;
}

/* HEADER STYLING */
.header {
  border-bottom: 8px solid #ffffff;
  height: 35vh;
  position: relative;
}
.header .first-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: #ffffff;
}

.first-header-section .reset-game-btn {
  padding: 25px 30px;
  background-color: #ffffff;
  color: #222222;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.first-header-section .reset-game-btn:hover {
  background-color: #cccccc;
}

.header h1 {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 2.3rem;
}

.header .random-number {
  padding: 1.5rem 3rem;
  font-size: 5rem;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  color: #222222;
  font-family: "Press Start 2P", sans-serif;
  border: none;
}

/* GAME SECTION STYLING */
footer {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

footer .left-section {
  display: flex;
  flex-direction: column;
}

footer .left-section form {
  display: flex;
  flex-direction: column;
}

footer .left-section form label {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.2rem;
}

footer .left-section form input{
    width: 4.5em;
    text-align: center;
    margin: auto;
    font-size: 3.6rem;
    color: #ffffff;
    padding: 1.3rem .4rem;
    margin-bottom: 30px;
    font-family: inherit;
    background-color: inherit;
    border: 5px solid #cccccc;
}

footer .left-section form input:focus{
    outline: none;
}

.left-section .check-btn{
    width: fit-content;
    margin: 0 auto;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.2rem 2rem;
    transition: 0.2s ease-in;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #222222;
}

.left-section .check-btn:hover {
  background-color: #cccccc;
  border: inherit;
}

.check-btn.disable{
    cursor: not-allowed;
    background-color: #cccccc;
}

.right-section {
    position: relative;
    display: flex;
    padding-top: 40px;
    margin-left: 10px;
}

.right-section::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 200px;
    background-color: #cccccc;
}

.right-section .right-section-container{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-section .message {
    color: #ffffff;
    font-size: 1.3rem;
}

.right-section .score-container{
    display: flex;
    flex-direction: column;
}

.right-section ._score{
    margin-top: 20px;
    font-size: 1.3rem;
    color: #ffffff;
}